* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 56, 109);
    padding: 10px;
    color: rgb(128, 105, 65);
}

img {
    border-radius: 50px;
    border: 2px solid rgb(58, 58, 143);
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

p {
    font-size: 12px;
    text-align: justify;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 20px;
}

a {
    color: white;
}