.big-box {
    display: flex;
}
.box1 {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 2px;
    
}

.box2 {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}